* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";
}

h2 {
    color: #1b1b1b;
    font-size: 17pt;
    margin-bottom: 10px;
}

p {
    color: #1b1b1b;
    font-size: 10pt;
}

input[type=email], input[type=password], input[type=text] {
    display: block;
    width: 100%;
    padding: 5px 0 5px 0px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .6);
    outline: none;
    font-size: 15px;
    margin-bottom: 15px;
}

a {
    font-size: 10pt;
    color: #0067b8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#login-container {
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-container:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#login-body {
    width: 440px;
    height: 335px;
    background-color: white;
    box-shadow:#000000 0px 2px 6px 0px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

.logo-container {
    padding: 40px 10px 0 44px;
}

.login-logo {
    width: 110px;
    margin-bottom: 10px;
}

#container-layout {
    position: relative;
}

#container-layout > div {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 0 44px;
    width: 100%;
    transition: .4s all;
}

.button {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
}

.btn-next {
    margin-top: 60px;
}

.btn-sub {
    margin-top: 40px;
}

.btn-form-login {
    color: white;
    cursor: pointer;
    border: 0;
    background-color: #0067b8;
    padding: 8px 20px;
    font-size: 11pt;
    letter-spacing: 1px;
}

.usr {
    display: block;
    margin-bottom: 10px;
}

#btn-prev {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    margin-right: 5px;
}

#btn-prev i {
    color: gray;
}

#btn-prev:hover {
    background-color: #e3e3e3;
}

#span-eml {
    font-size: 14px;
}

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
    transition: opacity .6s;
}

.layout-active {
    left: 0 !important;
}

.layout-left {
    left: -100% !important;
}

.layout-right {
    left: 100% !important;
}

@media (max-width: 600px) {
    #login-body {
        width: 100%;
        height: 100%;
        min-width: 375px;
    }
}